services:
#  loki:
#    image: grafana/loki:latest
#    container_name: loki
#    ports:
#      - "3100:3100"
#    command: -config.file=/etc/loki/local-config.yaml
#    volumes:
#      - loki-storage:/loki
#      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
#    networks:
#      - monitoring
#
#  grafana:
#    image: grafana/grafana:latest
#    container_name: grafana
#    depends_on:
#      - loki
#    ports:
#      - "3000:3000"
#    environment:
#      - GF_SECURITY_ADMIN_PASSWORD=admin
#    volumes:
#      #- grafana-storage:/var/lib/grafana
#      - ./grafana:/etc/grafana/provisioning
#    networks:
#      - monitoring
  
 # prometheus:
    #image: prom/prometheus:latest
    # ports:
    #  - "9090:9090"
    # networks:
  #    - monitoring
  
  archerly-api:
    build:
      context: .
      dockerfile: src/archerly.api/Dockerfile
      args:
        CONFIGURATION: Release   # Can override to Debug with environment variable
    container_name: archerly-api
    ports:
      - "5000:5000"
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:5000"
#    depends_on:
#      - prometheus
#      - loki

#volumes:
#  #grafana-storage:
#  loki-storage:
#  prometheus-storage:
#
##networks:
##  monitoring:
##    driver: bridge
#
#networks:
#  monitoring:
#    external: true
#    name: shared-monitoring
